.donateContainer h2.pageTitle {
  font-size: 35pt; }

.fontFine {
  font-size: 8pt; }

@media only screen and (max-width: 900px) {
  .donateContainer h2.pageTitle {
    font-size: 28pt; } }

/* adjust fonts */
@media only screen and (max-width: 450px) {
  .donateContainer h2.pageTitle {
    font-size: 10vw; }
  .fontFine {
    font-size: 6pt; } }

#content {
  opacity: 1; }

body {
  background: #b1b1ec; }

#donateNow {
  position: absolute;
  right: 5%;
  font-size: 15pt;
  display: inline;
  background: #ffb7b7;
  z-index: 100;
  box-shadow: 10px 10px 5px rgba(17, 17, 17, 0.5);
  padding: 20px; }
  #donateNow.fixed {
    position: fixed;
    bottom: 50px;
    right: 30px; }
  @media only screen and (max-width: 740px) {
    #donateNow {
      position: fixed;
      bottom: 50px;
      right: 30px; } }
  #donateNow.hidden {
    display: none; }

.donateContainer {
  margin-top: 150px;
  font-weight: 300; }
  .donateContainer h2.pageTitle {
    color: white;
    text-align: center;
    text-shadow: 2px 2px rgba(17, 17, 17, 0.5); }
  .donateContainer .card {
    width: 90%;
    display: block;
    margin: 45px auto;
    box-shadow: 10px 10px 5px rgba(17, 17, 17, 0.5);
    padding: 30px;
    background: white;
    position: relative;
    transform: translateY(0);
    opacity: 1;
    transition: transform 0.7s ease-in-out, opacity 0.7s ease-in-out;
    -webkit-font-smoothing: subpixel-antialiased; }
    .donateContainer .card h2 {
      margin: 0; }
    .donateContainer .card a {
      color: #8181b9;
      text-decoration: none; }
    .donateContainer .card.beforeAnimated {
      transform: translateY(100px);
      opacity: 0; }
