.slideContent .question {
  font-size: 18pt; }

.homeContent .text {
  font-size: 20pt; }

.slideContent h2 {
  font-size: 35pt; }

.fontFine, .homeContent .callout .finePrint {
  font-size: 9pt; }

@media only screen and (max-width: 900px) {
  .slideContent h2 {
    font-size: 28pt; } }

/* adjust fonts */
@media only screen and (max-width: 450px) {
  .slideContent h2 {
    font-size: 10vw; }
  .fontFine, .homeContent .callout .finePrint {
    font-size: 7pt; }
  .slideContent .question {
    font-size: 5.5vw; }
  .homeContent .text {
    font-size: 6vw; } }

#content {
  opacity: 1; }

.slideContent {
  width: 91%;
  display: none;
  text-align: center;
  opacity: 0;
  position: absolute;
  left: 3%;
  bottom: 5%; }
  .slideContent.active {
    opacity: 1;
    display: block;
    animation: fadeIn 1s ease-in-out;
    -webkit-animation: fadeIn 1s ease-in-out; }
  .slideContent > div {
    text-align: left; }
  .slideContent .question {
    width: 60%;
    padding: 8px 0 0 20px;
    vertical-align: top;
    font-style: italic; }
  .slideContent h2 {
    font-weight: bold;
    margin: 0;
    font-family: 'Montserrat', sans-serif; }

@media only screen and (max-width: 900px) {
  .slideContent h2 {
    font-size: 28pt; } }

@media only screen and (max-width: 740px) {
  .slideContent {
    text-align: unset; }
    .slideContent .question {
      width: 94%; } }

.blur {
  transition: opacity 1s ease-in-out;
  height: 100%;
  width: 100%;
  background: rgba(17, 17, 17, 0.5);
  z-index: -1; }

#blur1 {
  background: url("../img/slide1.jpg") center center no-repeat;
  background-size: cover;
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px; }

#blur2 {
  opacity: 0; }

#page-select {
  position: absolute;
  right: 5%;
  top: 36%;
  z-index: 10; }
  #page-select .select {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 15px 0;
    border: 0.1px solid white; }
    #page-select .select.active {
      background-color: #cff1fb;
      border: 1px solid #cff1fb; }

.table {
  display: table; }

.table-cell {
  display: table-cell; }

.homeContent {
  color: #373737;
  font-family: 'Raleway', Arial, sans-serif;
  margin-top: 30px; }
  .homeContent .table-cell {
    vertical-align: middle; }
  .homeContent .text {
    background: #b1b1ec;
    display: flex;
    align-items: center;
    margin-left: 15px;
    box-shadow: 10px 10px 5px rgba(17, 17, 17, 0.5);
    box-sizing: border-box; }
    .homeContent .text .innerText {
      padding: 10%; }
  .homeContent .callout {
    background: #cff1fb;
    box-shadow: 10px 10px 5px rgba(17, 17, 17, 0.5);
    margin: 0 15px; }
    .homeContent .callout .pink {
      padding: 30px 10%;
      background: #ffdbdb; }
    .homeContent .callout .blue {
      background: #cff1fb;
      display: flex;
      align-items: center; }
    .homeContent .callout .finePrint {
      font-style: italic;
      padding: 7% 10%; }
  .homeContent.row {
    display: flex;
    /* equal height of the children */ }
  .homeContent .col {
    flex: 1;
    /* additionally, equal width */ }

@media only screen and (max-width: 740px) {
  .homeContent.row {
    display: block; }
  .homeContent .text, .homeContent .callout {
    width: 90%;
    margin: 30px auto;
    min-height: 10px; }
  .homeContent .blue .finePrint {
    padding: 25px 10% 30px 10%; } }

@media only screen and (max-width: 450px) {
  .btn-box {
    font-size: 8pt; } }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
