.receiveContainer h2.pageTitle {
  font-size: 35pt; }

.fontFine {
  font-size: 10pt; }

@media only screen and (max-width: 900px) {
  .receiveContainer h2.pageTitle {
    font-size: 28pt; } }

/* adjust fonts */
@media only screen and (max-width: 450px) {
  .receiveContainer h2.pageTitle {
    font-size: 10vw; }
  .fontFine {
    font-size: 8pt; } }

#content {
  opacity: 1; }

body {
  background: #fcfdcd; }

.receiveContainer {
  margin-top: 150px;
  font-weight: 300;
  margin-bottom: 45px; }
  .receiveContainer h2.pageTitle {
    color: white;
    text-align: center;
    text-shadow: 2px 2px rgba(17, 17, 17, 0.5); }

.card {
  width: 90%;
  display: block;
  margin: 0 auto;
  box-shadow: 2vw 2vw 1vw rgba(17, 17, 17, 0.5);
  padding: 15px 30px;
  background: white; }
