$colorPink: #ffdbdb;
$colorDarkPink: #ffb7b7;

$colorBlue: #cff1fb;
$colorPurple: rgb(177, 177, 236);
$colorDarkPurple: rgb(129, 129, 185);
$colorGreen: #d6fbe4;
$colorYellow: #fcfdcd;
$colorGrey: rgb(55, 55, 55);

%fontSm{font-size: 15pt;}
%fontStnd{font-size: 18pt;}
%fontDblSm{font-size: 36pt}

%fontMore{font-size: 20pt;}
%fontH2{font-size: 35pt;}
%fontXSm{font-size: 10pt;}
%fontFine{font-size: 9pt;}

.fontFine{
    @extend %fontFine;
}

@media only screen and (max-width: 900px) {
    %fontH2{font-size: 28pt;}
}

/* adjust fonts */
@media only screen and (max-width: 620px) {
    %fontSm{font-size: 12pt}
}



@media only screen and (max-width: 450px) {
    %fontH2{font-size: 10vw;}
    %fontSm{font-size: 3.5vw}

    %fontXSm{font-size: 8pt;}
    %fontFine{font-size: 7pt;}

    %fontStnd{font-size: 5.5vw}
    %fontDblStnd{font-size: 11vw}
    %fontMore{font-size: 6vw}
}