#footer{
    background: $colorGrey;
    min-height: 300px;
    padding: 15px 5%;
    margin-top: 15px;
    position: relative;
    width: 100%;
    overflow-x: hidden;

    #contactUs{
        position: absolute;
        right: 0;
        top: 10%;
        transform: translateX(300px);
        transition: transform .8s ease-in-out;

        &.open{
            transform: translateX(-0px);
        }

        .slideOutBtn{
            position: absolute;
            right: 300px;
            transform: rotate(270deg);
            transform-origin: 100% 100%;
            white-space: nowrap;

            background: $colorPurple;
            padding: 10px 15px;
            cursor: pointer;
        }

        .contactFormContainer{
            position: relative;
            width: 300px;
            min-height: 250px;
            background: $colorPurple;
            padding: 15px;

        }
    }

    .footerContent{
        columns: 3 200px;
        column-gap: 5vw;
        column-rule: 1px dotted whitesmoke;

        .column{
            break-inside: avoid;
        }

        a{
            color: white;
            padding: 10px 0;
            display: table;
            width: 175px;

            text-decoration: none;
        
        }

        a.footerTitle{
            padding-top: 30px;
            text-transform: uppercase;
            box-sizing: border-box;
            border-bottom: 2px solid $colorPurple;
            @extend %fontSm;
        }

        a.footerLink{
            @extend %fontXSm;
        }
    }
}

.form{
    font-size: 16px;

                
    input:not([type="radio"]):not([type="checkbox"]), textarea, select{
        width: 90%;
        margin: 0 auto 10px;
        text-indent: 15px;
        border-bottom: 1px solid #ddd;
        color: $colorGrey;
        border-radius: 5px;
        background: transparent;
        font: 16px Arial, Helvetica, sans-serif;
        height: 35px;
    }

    input[type=radio], input[type=checkbox]{
        margin-bottom: 10px;
        display: inline-block;

        &:checked{

            ~ .hiddenField{
                max-height: 100px;
                opacity: 1;
                pointer-events: unset;
            }

            padding-bottom: 50px;

            & .shownField{
                max-height: 0px;
                opacity: 0;
                pointer-events: none;
            }
        }
    }

    .shownField{
        max-height: 100px;
        opacity: 1;
        transition: max-height .7s ease-in-out, opacity .7s ease-in-out;

    }

    .hiddenField{
        max-height: 0px;
        opacity: 0;
        pointer-events: none;
        transition: max-height .7s ease-in-out, opacity .7s ease-in-out;
    }

    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
        margin: 0; 
    }

    .attention:invalid{
        background-color: rgb(221, 58, 58) !important;

        & ~ .floating-label{
            background-color: rgb(221, 58, 58) !important;
            color: white;
        }

        & ~ label{
            color: rgb(221, 58, 58) !important;
        }
    }


    input[required], textarea[required]{
        ~ span{
            display: none
        }

        &:invalid ~ span{
            display: inline;
            color: rgb(221, 58, 58);
            padding-left: 10px;
            vertical-align: top;
        }
    }

    textarea{
        resize: none;
        height: 50px
    }

    .btnContainer{
        height: 40px;
        width: 90%;
        display: inline-block;
      }
      
      .rplButton{
        color:$colorGrey;
        background-color: $colorBlue;
        font-size: 14pt;
        text-align: center;
        line-height: 40px;
        cursor: pointer;

        &:active{
            background-color: $colorGreen;
        }
      }

      .inputContainer{
          position: relative;
          margin-bottom: 5px;
      }

    
    input:focus ~ .floating-label,
    input:not(:focus):valid ~ .floating-label{
        top: -5px;
        font-size: 10px;
        opacity: 1;
        padding: 0 5px;
    }

    .floating-label {
        position: absolute;
        display: inline-block;
        color: #777;

        @extend %fontSm;

        pointer-events: none;
        left: 20px;
        top: 7px;
        transition: 0.2s ease top, 0.2s ease font-size, ;
    }
}