@import './constants.scss';
@import './header.scss';
@import './footer.scss';


* {box-sizing:border-box}
html{
    height: 100%;                        
    font-family: 'Montserrat', sans-serif;
    @extend %fontStnd;

}

.body{
    background: whitesmoke;
}


.right{
    float: right;
    margin-left: 15px;

}
.left{
    float: left;
    margin-right: 15px;
}

.table{display: table;}
.table-cell{display: table-cell}

.centerTxt{text-align: center;}
.title{color: $colorPurple;}
.colorTxt{color: $colorPurple}

a.unStyle{
    text-decoration: none;
    color: white;
}

body {margin:0;}

.emphasis{
    color: $colorDarkPink;
    text-shadow: 6px 6px rgba(17, 17, 17, 0.5);
    @extend %fontH2;
    font-weight: 700;
}    


.anchor{
    position: absolute;
    top: -220px;
}

.clearFix{
    clear: both;
}

.button.cta{
    border-radius: 10px;
    font-style: normal;
    padding: 12px 20px;
    background: $colorPurple;
    margin-top: 10px;
    display: table;
    text-decoration: unset;
    cursor: pointer;
    color: $colorGrey;
}

/* fonts */

.montserrat{
    font-family: 'Montserrat', sans-serif;
}

.raleway{
    font-family: 'Raleway', Arial, sans-serif;
}

.openSans{
    font-family: 'Open Sans', sans-serif;
}

.dancingScript{
    font-family: 'Dancing Script', cursive;
}

#alertLayer{
    position: fixed;
    display: none;
    z-index: 102;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;

    background: rgba(17, 17, 17, 0.8);
    color: white;
    padding: 15px 25px;
    border-radius: 5px;

    &.show{
        display: inline-block;
    }
}




/* About Us */