@import './constants.scss';
@import './header.scss';
@import './footer.scss';


* {box-sizing:border-box}
html{
    height: 100%;                        
    font-family: 'Montserrat', sans-serif;
    @extend %fontStnd;

}

.body{
    background: whitesmoke;
}

.right{
    float: right;
    margin-left: 15px;

}
.left{
    float: left;
    margin-right: 15px;
}

.centerTxt{text-align: center;}
.title{color: $colorPurple;}
.colorTxt{color: $colorPurple}

a.unStyle{
    text-decoration: none;
    color: white;
}

body {margin:0;}

.emphasis{
    color: $colorPink;
    text-shadow: 6px 6px rgba(17, 17, 17, 0.5);
    @extend %fontH2;
    font-weight: 700;
}    


.anchor{
    position: absolute;
    top: -220px;
}

.blur{
    transition: opacity 1s ease-in-out;

    height: 100%;
    width: 100%;
    background: rgba(17, 17, 17, 0.5);
    z-index: -1; 
}

#blur1{
    background: url("../img/slide1.jpg") center center no-repeat;
    background-size: cover;
    position: absolute;

    left:0px;top:0px;bottom:0px
}

#blur2{
    opacity: 0;
}

#page-select{
    position: absolute;
    right: 5%;
    top: 36%;
    z-index: 10;

    .select{
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 15px 0;
        border: 0.1px solid white;

        &.active{
            background-color: $colorBlue;
            border: 1px solid $colorBlue;
        }
    }
}

.button.cta{
    border-radius: 10px;
    font-style: normal;
    padding: 12px 20px;
    background: $colorPurple;
    margin-top: 10px;
    display: table;
    text-decoration: unset;
    cursor: pointer;
    color: $colorGrey;

}

.table{display: table;}
.table-cell{display: table-cell}

.homeContent{
    color: $colorGrey;
    font-family: 'Raleway', Arial, sans-serif;

    .table-cell{
        vertical-align: middle;
    }

    .text{
        @extend %fontMore;
        background: $colorPurple;
        width: calc(60% - 35px);
        box-shadow: 10px 10px 5px rgba(17, 17, 17, 0.5);
        display: inline-block;
        vertical-align: top;
        box-sizing: border-box;

        margin: 30px 15px 30px 20px;
        padding: 60px 10% 60px 10%;
    }

    .callout{
        background: $colorBlue;
        width: calc(40% - 35px);
        box-shadow: 10px 10px 5px rgba(17, 17, 17, 0.5);

        display: inline-block;
        box-sizing: border-box;
        margin: 30px 20px 30px 15px;



        div{
            padding: 30px 7% 30px 7%;
            background: $colorPink;
        }

        .finePrint{
            @extend %fontFine;
            padding: 5px 7% 30px 7%;

        }
    }
}

@media only screen and (max-width: 740px) {
    .homeContent .text, .homeContent .callout{
        width: 90%;
        display: block;
        margin: 30px auto;
    }
}

@media only screen and (max-width: 450px) {
    %fontH2{font-size: 10vw;}
    %fontSm{font-size: 3.5vw}

    %fontFine{font-size: 8pt;}


    %fontStnd{font-size: 5.5vw}
    %fontMore{font-size: 6vw}

    #header .slideContent{
        min-height: 85vw;
    }

    .btn-box{
        font-size: 8pt;
    }

    // #header .slideContent h2{
    //     font-size: 10vw;
    // }
    
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}  
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

.clearFix{
    clear: both;
}

/* fonts */

.montserrat{
    font-family: 'Montserrat', sans-serif;
}

.raleway{
    font-family: 'Raleway', Arial, sans-serif;
}

.openSans{
    font-family: 'Open Sans', sans-serif;
}

.dancingScript{
    font-family: 'Dancing Script', cursive;
}

.gaegu{
    font-family: 'Gaegu', cursive;
}




/* About Us */